html,
body {
  width: 100%;
  height: 100%;
}

.Canvas__layout {
  height: 600px;
  width: 600px;
  position: relative;
}

.Toolbox {
  width: 250px;
}

.Toolbox__element label,
input {
  font-size: 0.75rem;
}

.Canvas__background {
  height: 600px;
  width: 600px;
  z-index: 100;
  position: absolute;
}

.Canvas__text {
  position: absolute;
  z-index: 200;
}

.Toolbox__header {
  background-color: red !important;
}

.card-header {
  padding: 0;
}
